<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FreelanceDB"
			 connectionString="Data Source=(local);Initial Catalog=FreelancePlatform;User Id=zmorok_pwd;Password=qwerty1234$;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
