.env

# ignore Visual Studio temporary files and build results
.vs/
*.suo
*.user
*.pdb
*.suo

[Bb]in/
[Oo]bj/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# NodeJS modules
node_modules/